.header {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.header__titles {
  flex: 1 1 auto;
}

.input--author {
  min-width: 200px;
  max-width: 250px;
}

h1 {
  font-weight: 900;
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 0.7rem;
  margin-top: 0;
}
h3 {
  font-weight: 600;
  font-size: 0.7rem;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}
